.container {
  max-width: 1100px;
  margin: auto;
  padding: 32px;
}

.title {
  font-size: 32px;
  margin-bottom: 24px;
}

.row {
  display: flex;
  gap: 12px;
  margin: 16px 0;
  flex-wrap: wrap; /*  INI KUNCI */
}

.row > * {
  flex: 1;
  min-width: 140px; /*  BIAR DROPDOWN KELIATAN */
}

.button {
  padding: 12px 20px;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
